.wave-banner {
  position: relative;
  background: #0077ff; /* A nice blue color */
  color: white;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  border-radius: 1.5rem 1.5rem 0 0;
}

.wave-banner h1 {
  position: relative;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0;
}

.wave-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Wave height */
  overflow: hidden;
}

.wave {
  position: absolute;
  bottom: -20px; /* Push it down a bit */
  left: 0;
  width: 200%;
  height: 100px;
  background-size: 50% 100px;
  background-repeat: repeat-x;
  animation: wave-animation 15s linear infinite;
}

.wave.wave1 {
  animation-delay: 0s;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3e%3cpath fill='rgba(255,255,255,0.3)' d='M0,160L48,181.3C96,203,192,245,288,245.3C384,245,480,203,576,186.7C672,171,768,181,864,197.3C960,213,1056,235,1152,224C1248,213,1344,171,1392,149.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3e%3c/path%3e%3c/svg%3e");
}

.wave.wave2 {
  animation-duration: 20s;
  animation-delay: -5s;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3e%3cpath fill='rgba(255,255,255,0.2)' d='M0,224L48,213.3C96,203,192,181,288,186.7C384,192,480,224,576,240C672,256,768,256,864,234.7C960,213,1056,171,1152,149.3C1248,128,1344,128,1392,128L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3e%3c/path%3e%3c/svg%3e");
}


@keyframes wave-animation {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px; /* A large value to scroll */
  }
}
